[Desktop Entry]
Name=Xpra
Comment=Xpra GUI
Exec=xpra
Icon=xpra
Terminal=false
Type=Application
StartupNotify=false
Categories=Network;RemoteAccess;
Keywords=X11;screen;forwarding;client;server
