[Unit]
Description=Xpra System Server
Wants=avahi-daemon.socket
Documentation=https://xpra.org/trac/wiki/ProxyServer man:xpra
After=network.target xpra.socket
Requires=xpra.socket

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/xpra
ExecStart=/usr/bin/xpra proxy :14500 --daemon=no --tcp-auth=${TCP_AUTH} --ssl-cert=/etc/xpra/ssl-cert.pem --bind=none --auth=${AUTH} --socket-dirs=/var/run/xpra --socket-permissions=666 --log-dir=/var/log --pidfile=/var/run/xpra.pid --debug=${DEBUG}
#rely on SIGKILL which returns 128+15=143
SuccessExitStatus=0 143
Restart=on-abnormal
PIDFile=/var/run/xpra.pid
ProtectSystem=strict
ReadWritePaths=/run /tmp
#PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
