html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
div#connect_form {
	display: none;
}
div#disconnect_form {
	display: none;
}
.overlay {
	background-color: black;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	opacity: 0.5;
	z-index: 100000;
	text-align: center;
}
#progress-label {
	font-size: 1.4em;
	color: white;
	line-height: 2em;
	height: 2em;
}
#progress-details {
	font-size: 1.2em;
	color: white;
	line-height: 1.5em;
	height: 1.5em;
}
canvas {
	border: none;
	padding: 0;
	margin: 0;
}
#pasteboard {
	position: fixed;
	top: -40px;
	width: 100px;
	height: 30px;
	left: 1px;
}
.undecorated {
	position: absolute;
	padding: 0;
	overflow: hidden;
}
.override-redirect {
	z-index: 15000;
}
.window {
	border: 1px;
	position: absolute;
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
	padding: 0;
	overflow: hidden; /* required for radius clip */
}
.window-NORMAL {
	border-radius: 6px;
}
.window-DROPDOWN_MENU {
	z-index: 20000;
}
.window-TOOLTIP {
	z-index: 20000;
}
.window-POPUP_MENU {
	z-index: 20000;
}
.window-MENU {
	z-index: 20000;
}
.window-COMBO {
	z-index: 20000;
}
.window-UTILITY {
	z-index: 15000;
}
.window-DIALOG {
	z-index: 15000;
}
.windowhead {
	height: 30px;
	color: #000000;
	background-color: #c0c0c0;
}
.windowicon {
	display: inline-block;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: hidden;
	cursor: default;
}
.windowtitle {
	display: inline-block;
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px;
	padding-right: 48px;
	white-space: nowrap;
	cursor: default;
}
.windowbuttons {
	display: inline-block;
	position: absolute;
	z-index: 1;
	top: 0px;
	right: 0px;
	padding-right: 5px;
	cursor: pointer;
	padding-top: 7px;
	background-color: #c0c0c0;
}
.above {
	z-index: 10000;
}
.below {
	z-index: 0;
}
div.windowinfocus {
	z-index: 5000;
}
.modal {
	z-index: 20000;
}
.spinneroverlay {
	width: 100%;
	height: 100%;
	display: none;
	background-color: black;
	opacity: 0.5;
	position: absolute;
}
.spinnermiddle {
	display: table-cell;
	vertical-align: middle;
}
.ui-resizable-helper {
	border: 2px dotted #00F;
	z-index: 30000 !important;
}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}


.notifications {
	position: absolute;
	left: auto;
	right: 0;
	top: 0;
	bottom: auto;
	width: 600px;
	height: auto;
	z-index: 10001;
	transition: height 0.5s, opacity 0.5s, top 0.5s, box-shadow 0.5s, bottom 0.5s;
	box-shadow: 0 1rem 2rem rgba(21, 36, 48, 0.75);
	overflow: hidden;
}
@media screen and (max-width: 600px) {
	.notifications {
		bottom: 0;
		box-shadow: none;
		padding-top: 5rem;
	}
}
@media screen {
	.notifications .alert {
		border-radius: 10;
		text-align: center;
		padding: .5rem;
		opacity: 1;
		margin-top: -2rem;
		position: relative;
		transform: translateY(2rem);
		transition: left 0.5s, margin 0.5s, opacity 0.5s, transform 0.5s;
	}
}
@media screen and (max-width: 600px) {
	.notifications .alert {
		opacity: 0;
		margin-top: 0;
		transform: translateY(0);
	}
}
.notifications .alert span {
	display: block;
	padding: 0;
	margin: 0 3rem;
	font-weight: 300;
	font-size: .9rem;
	text-overflow: ellipsis;
	line-height: 1rem;
	max-height: 2rem;
	overflow: hidden;
}
.notifications .alert span.title{
	margin: 1rem;
	font-weight: 600;
	font-size: 1.3rem;
}
.notifications .alert span a {
	text-decoration: none;
}
.notifications .alert .dismiss {
	width: 2rem;
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: scale(1, 1) translateY(-50%);
	font-size: 1.5rem;
	transition: margin 0.5s, opacity 0.5s, transform 0.5s;
	text-align: center;
	cursor: pointer;
	color: inherit;
	font-weight: 300;
	transform-origin: center center;
}
@media screen {
	.notifications .alert.visible {
		margin-top: 0;
		opacity: 1;
		transform: translateY(0);
	}
	.notifications .alert.hidden {
		margin-top: -2.125rem;
		z-index: -1;
	}
}
@media screen and (max-width: 600px) {
	.notifications .alert.hidden {
		transform: translateY(0) translateX(-10rem);
	}
}
