
# eclipse IDE:
# /
/.project
/.pydevproject
/.settings/org.eclipse.core.resources.prefs
# pycharm IDE:
/.idea

# temporary files:
*.swp

# Python cache:
__pycache__/
*.py[cod]
# generated when building:
xpra.egg-info

# Coverage tools:
.coverage
.coverage.*
coverage.xml
htmlcov/

# the HTML5 client may be symlinked here for some builds
# (ie: MS Windows and MacOS)
html5

# Things that should never be added to the repository:
password.*
key.*
*.key
*.pem
# Either generated or contains binaries:
packaging/buildah/opt/cuda/
packaging/buildah/opt/nvenc/
packaging/buildah/rpmbuild
packaging/buildah/repo/
packaging/buildah/pkgs/*tar*
packaging/buildah/pkgs/*zip*
packaging/MacOS/dist
packaging/MacOS/html5
packaging/MacOS/image
packaging/MacOS/xpra-html5

# generated during build:
/build
/install
/MANIFEST
/dist
/xpra.iss
*.dll
*.orig
*.bak
*.log
*.exe
*.zip
*.msi
/msi.xml
*.pxi
*.html
#CUDA:
*.fatbin
*.cubin
#CUDA symlink on MS Windows:
/cuda
# generated during the build:
/xpra/src_info.py
/xpra/build_info.py
/fs/etc/xpra/xpra.conf
# the .conf files are generated:
/fs/etc/xpra/conf.d/*.conf
/packaging/buildah/*log
#debian packaging tools leave cruft:
packaging/debian/xpra/*.debhelper
packaging/debian/xpra/*.substvars
packaging/debian/xpra/tmp
packaging/debian/xpra/files
packaging/debian/xpra/xpra
packaging/debian/xpra/xpra-common
packaging/debian/xpra/xpra-audio
packaging/debian/xpra/xpra-client
packaging/debian/xpra/xpra-client-gtk3
packaging/debian/xpra/xpra-codecs
packaging/debian/xpra/xpra-codecs-nvidia
packaging/debian/xpra/xpra-server

# generated during the tests:
tests/unittests/test-file*

# these files are compiled using semodule:
/fs/share/selinux/cups_xpra/cups_xpra.pp
/fs/share/selinux/cups_xpra/tmp
/fs/share/selinux/cups_xpra/cups_xpra.if
/fs/share/selinux/cups_xpra/Makefile
/fs/share/selinux/xpra_socketactivation/xpra_socketactivation.if
/fs/share/selinux/xpra_socketactivation/xpra_socketactivation.pp
/fs/share/selinux/xpra_socketactivation/Makefile
/fs/share/selinux/xpra_socketactivation/tmp

# the win32 service is compiled here:
/packaging/MSWindows/service/event_log.rc
/packaging/MSWindows/service/event_log.res
/packaging/MSWindows/service/event_log.h
/packaging/MSWindows/service/MSG00409.bin
/packaging/MSWindows/service/Xpra-Service.exe

# Cython files:
*.html
/xpra/util/*.c
/xpra/buffers/new_buffers.c
/xpra/buffers/membuf.c
/xpra/buffers/xxh.c
/xpra/buffers/cyxor.c
/xpra/client/*/*.c
/xpra/client/*.c
/xpra/client/gl/gtk3/*.c
/xpra/clipboard/*.c
/xpra/codecs/nvidia/*/*.c
/xpra/codecs/nvidia/*/*.cpp
/xpra/codecs/*/*.cpp
/xpra/codecs/*/*.c
/xpra/codecs/*.c
/xpra/gtk/*.c
/xpra/gtk/dialogs/*.c
/xpra/gtk/examples/*.c
/xpra/gtk/bindings/*.c
/xpra/gstreamer/*.c
/xpra/keyboard/*.c
/xpra/net/*/*/*.c
/xpra/net/*/*.c
/xpra/net/*.c
/xpra/notifications/*.c
/xpra/platform/*/*.c
/xpra/platform/*.c
/xpra/scripts/*.c
/xpra/server/*/*.c
/xpra/server/*.c
/xpra/util/*.c
/xpra/x11/gtk3/bindings.c
/xpra/x11/gtk3/display_source.c
/xpra/x11/gtk3/gdk_display_util.c
/xpra/x11/bindings/*.c
/xpra/x11/gtk_x11/*.c
/xpra/x11/desktop/*.c
/xpra/x11/models/*.c
/xpra/x11/server/*.c
/xpra/x11/*.c
/xpra/*.c

/.mypy_cache/
