include COPYING README.md
include xpra/monotonic_ctime.h
include xpra/monotonic_ctime.c
include xpra/buffers/memalign.h
include xpra/buffers/memalign.c
include xpra/buffers/xxhash.h
include xpra/buffers/xxhash.c
include xpra/buffers/xxh3.h
include xpra/x11/gtk3/gdk_x11_macros.c
include xpra/x11/gtk3/gdk_x11_macros.h
include xpra/codecs/cuda_common/*.cu
include xpra/codecs/v4l2/video.h
include xpra/codecs/dec_avcodec2/register_compat.*
prune html5
recursive-include fs *
recursive-include docs *
recursive-include tests __init__.py perf scripts
recursive-include tests/unittests run unit
recursive-include packaging/debian *
recursive-include packaging/MacOS *
recursive-include packaging/MSWindows *
recursive-include packaging/rpm *
include packaging/buildah/*.sh
include packaging/buildah/*.pc
include packaging/buildah/*.repo
include packaging/buildah/*.txt
global-include *.py *.txt *.pyx *.pxd
global-exclude *~ \#* *.orig *.bak *.rej *.pxi
prune build
prune dist
prune cache
prune opt
