Source: xserver-xorg-video-void-hwe
Section: x11
Priority: optional
Maintainer: Antoine Martin <antoine@xpra.org>
Uploaders: Antoine Martin <antoine@xpra.org>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 quilt,
 pkg-config,
 xserver-xorg-dev-hwe-18.04,
 x11proto-core-dev,
 x11proto-randr-dev,
 x11proto-input-dev,
 xutils-dev
Standards-Version: 3.9.8

Package: xserver-xorg-video-void-hwe
Architecture: any
Replaces: xserver-xorg-video-void
Conflicts: xserver-xorg-video-void
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${xviddriver:Depends},
Provides: xserver-xorg-video-void,
 ${xviddriver:Provides}
Description: X.Org X server -- dummy display driver
 This package provides a 'dummy' display driver, which does not actually
 display anything.
 .
 More information about X.Org can be found at:
 <URL:https://www.X.org>
 .
 This package is built from the X.org xf86-video-dummy driver module.
