[Desktop Entry]
Name=Xpra Launcher
Comment=Connect to an Xpra session
TryExec=xpra_launcher
Exec=xpra_launcher
Icon=xpra
Terminal=false
Type=Application
StartupNotify=false
Categories=Network;
MimeType=text/x-xpraconfig;
