Source: ffmpeg-xpra
Section: libs
Priority: optional
Maintainer: Antoine Martin <antoine@devloop.org.uk>
Build-Depends: debhelper (>= 9), python-all-dev, libvpx-dev, libx264-dev, yasm
Standards-Version: 3.9.5
Homepage: https://ffmpeg.org/

Package: ffmpeg-xpra
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: ffmpeg libraries used by xpra
 .
 Private version of the ffmpeg libraries,
 built specifically for use with xpra codecs.
