#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND=-Wl,--as-needed
RELEASE_CODENAME:=$(lsb_release -c -s)
ifneq (,$(filter xenial,$(RELEASE_CODENAME)))
export DEB_BUILD_MAINT_OPTIONS = hardening=+all,-bindnow
endif

PY2BUILDOPTS= --without-Xdummy --without-Xdummy_wrapper --pkg-config-path=/usr/lib/xpra/pkgconfig --rpath=/usr/lib/xpra/ --without-html5 --without-printing
PY3BUILDOPTS= --without-Xdummy --without-Xdummy_wrapper --pkg-config-path=/usr/lib/xpra/pkgconfig --rpath=/usr/lib/xpra/

# Disable CUDA on Ubuntu Hirsute and Debian Sid
# (nvcc fails to compile with the new glibc headers: #3293)
dvariant := $(shell lsb_release -cs)
ifeq ($(dvariant),impish)
PY2BUILDOPTS := --without-nvenc
PY3BUILDOPTS := --without-nvenc
endif
ifeq ($(dvariant),sid)
PY2BUILDOPTS := --without-nvenc
PY3BUILDOPTS := --without-nvenc
endif

%:
	dh $@ --with python2,python3 --with systemd

override_dh_auto_build:
	python2 setup.py build $(PY2BUILDOPTS)
	python3 setup.py build $(PY3BUILDOPTS)

override_dh_auto_install:
	python2 setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb $(PY2BUILDOPTS)
	python3 setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb $(PY3BUILDOPTS)

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_shlibdeps:
	dh_shlibdeps -l /usr/lib/xpra -Xfbc_capture -Xnvjpeg

override_dh_systemd_enable:
	dh_systemd_enable --no-enable xpra.service
	dh_systemd_enable xpra.socket

override_dh_systemd_start:
	dh_systemd_start xpra.socket

override_dh_installman:
	mkdir -p debian/xpra/usr/share/man/man1
	cp man/*.1 debian/xpra/usr/share/man/man1/
	gzip -9 debian/xpra/usr/share/man/man1/*.1

override_dh_builddeb:
	dh_builddeb -- -Zxz

# Ubuntu messes up the cups backend permissions, fix it:
override_dh_fixperms:
	dh_fixperms --exclude xpraforwarder
