Source: python-xxhash
Section: python
Priority: optional
Maintainer: Antoine Martin <antoine@devloop.org.uk>
Build-Depends: debhelper (>= 9), python-all-dev
X-Python-Version: >= 2.7
Standards-Version: 3.9.5
Homepage: https://github.com/Cyan4973/xxHash

Package: python-xxhash
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: Extremely fast hash algorithm
 xxHash is an Extremely fast Hash algorithm, running at RAM speed limits.
 .
 It successfully completes the SMHasher test suite which evaluates collision,
 dispersion and randomness qualities of hash functions.
 .
 Code is highly portable, and hashes are identical on all platforms
 (little / big endian).
