Source: xpra
Section: x11
Priority: optional
Maintainer: Antoine Martin <antoine@nagafix.co.uk>
Build-Depends: debhelper (>= 8)
              ,quilt
              ,cython (>= 0.16)
              ,libavcodec-dev
              ,libswscale-dev
              ,libx11-dev
              ,libvpx-dev
              ,libxcomposite-dev
              ,libxdamage-dev
              ,libxtst-dev
              ,libx264-dev
              ,python-all-dev
              ,python-gobject-dev
              ,python-gtk2-dev
X-Python-Version: >= 2.5
Standards-Version: 3.9.3
Homepage: http://xpra.org/
Vcs-Svn: http://xpra.org/svn/Xpra/
Vcs-Browser: http://xpra.org/trac/browser/

Package: parti
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
        ,python-wimpiggy (>=${source:Version})
        ,python-gtk2
        ,xvfb
        ,ipython
Description: tabbing/tiling window manager using GTK+
 Parti is a tabbing/tiling (one might say "partitioning") window manager.  Its
 goal is to bring this superior window management interface to modern,
 mainstream desktop environments.

Package: xpra
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
        ,python-wimpiggy (=${binary:Version})
        ,libwebp2
        ,python-gtk2
        ,x11-xserver-utils
        ,xserver-xorg-video-dummy, xserver-xorg-input-void
Recommends: python-imaging
        ,python-gtkglext1, python-opengl
# keyboard-configuration (>= 1.82) is workaround for #180 to fix keypad keys forwarding.
        ,keyboard-configuration (>= 1.82)
Suggests: openssh-client, openssh-server, python-dbus
Description: tool to detach/reattach running X programs
 Xpra gives you the functionality of GNU Screen for X applications.
 .
 It allows the user to view remote X applications on their local machine, and
 disconnect and reconnect from the remote machine without losing the state of
 the running applications.
 .
 Unlike VNC, these applications are "rootless".  They appear as individual
 windows inside your window manager rather than being contained within a single
 window.

#Package: xpra-dbg
#Section: debug
#Priority: extra
#Architecture: any
#Depends: xpra (= ${binary:Version}), ${misc:Depends}
#Description: xpra -- debugging symbols
# Xpra gives you the functionality of GNU Screen for X applications.
# .
# It allows the user to view remote X applications on their local machine, and
# disconnect and reconnect from the remote machine without losing the state of
# the running applications.
# .
# Unlike VNC, these applications are "rootless".  They appear as individual
# windows inside your window manager rather than being contained within a single
# window.
# .
# This package provides debugging symbols

Package: python-wimpiggy
Section: python
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-gtk2
Provides: wimpiggy
Conflicts: wimpiggy
Description: library for writing window managers, using GTK+
 A helper library for writing window managers.
 .
 As the author says, wimpiggy is "a library to make writing fancypants,
 EWMH-compliant, compositing window managers just as easy as writing an app in
 PyGTK+."

#Package: python-wimpiggy-dbg
#Section: debug
#Priority: extra
#Architecture: any
#Depends: python-wimpiggy (= ${binary:Version}), ${misc:Depends}
#Description: python-wimpiggy -- debugging symbols
# A helper library for writing window managers.
# .
# As the author says, wimpiggy is "a library to make writing fancypants,
# EWMH-compliant, compositing window managers just as easy as writing an app in
# PyGTK+."
# .
# This package provides debugging symbols
