Source: xpra
Section: x11
Priority: optional
Maintainer: Antoine Martin <antoine@devloop.org.uk>
Build-Depends: debhelper (>= 8)
              ,cython (>= 0.23)
              ,ffmpeg-xpra
              ,libx11-dev
              ,libvpx-dev
              ,libxcomposite-dev
              ,libxdamage-dev
              ,libxtst-dev
              ,libx264-dev
              ,python-all-dev
              ,python-gobject-dev
              ,python-gtk2-dev
              ,dh-python
              ,dh-systemd
              ,libjs-jquery
              ,libsystemd-dev
X-Python-Version: >= 2.5
Standards-Version: 3.9.3
Homepage: http://xpra.org/
Vcs-Svn: http://xpra.org/svn/Xpra/
Vcs-Browser: http://xpra.org/trac/browser/

Package: xpra
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
        ,python-gtk2
        ,x11-xserver-utils
#we need a vfb: either Xdummy (Debian) or Xvfb (Ubuntu breaks Xorg tty access)
#jessie:        ,xserver-xorg-video-dummy
#stretch:        ,xserver-xorg-video-dummy
#xenial:        ,xvfb
#yakkety:        ,xserver-xorg-video-dummy
#zesty:        ,xserver-xorg-video-dummy
# for opengl support:
        ,python-gtkglext1
        ,python-opengl
# not *strictly* required, but too important to miss:
        ,python-numpy
# for PNG and JPEG support:
        ,python-imaging
# fast JPEG client support:
#xenial:         ,libturbojpeg
#yakkety:         ,libturbojpeg
#zesty:         ,libturbojpeg
#sid:         ,libturbojpeg0
#stretch:         ,libturbojpeg0
# ffmpeg based codecs:
        ,ffmpeg-xpra
# packet encoder:
        ,python-rencode
# depend on lz4 for those that have it, lzo otherwise:
        ,python-lz4
# if you use Ubuntu, you will "want" this mess:
#xenial:        ,python-appindicator
#yakkety:        ,python-appindicator
#zesty:        ,python-appindicator
Recommends:
# x264:
#jessie:        ,libx264-142
#stretch:        ,libx264-146
#xenial:        ,libx264-148
#yakkety:        ,libx264-148
#zesty:        ,libx264-148
# for notifications forwarding and dbus server / proxying:
        ,python-dbus
# for the proxy server:
        ,python-setproctitle
# AES encryption:
        ,python-cryptography
# audio-related:
        ,gstreamer1.0-pulseaudio
        ,gstreamer1.0-alsa
        ,gstreamer1.0-plugins-base
#                 ^^ vorbis ^^
        ,gstreamer1.0-plugins-good
#                  ^^ wavpack, wav, flac, speex ^^
        ,gstreamer1.0-plugins-ugly
#                  ^^ mp3 ^^
        ,python-gst-1.0
#for printer forwarding:
        ,cups-filters
        ,cups-common
        ,cups-pdf
        ,python-cups
#for webcam support:
        ,python-pyinotify
        ,python-opencv
        ,v4l2loopback-dkms
        ,openssh-client
        ,ssh-askpass
#recommend the alternative (those that recommend lz4 usually don't have it available at all):
        ,python-lzo
#for html5 support:
        ,websockify
        ,libjs-jquery
# we cannot do versionned recommends but we need keyboard-configuration (>= 1.82)
        ,keyboard-configuration
#for using SSH passwords from the GUI launcher:
        ,sshpass
Suggests: openssh-server
# for sound forwarding (server side):
        ,pulseaudio
        ,pulseaudio-utils
# for publishing servers via mdns:
        ,python-avahi
        ,python-netifaces
# only useful when connecting using a JSON / YAML only client:
        ,python-yaml
#nvenc support requires pycuda (and its huge list of dependencies!)
#and the nvencode library:
        ,python-pycuda, libnvidia-encode1
Description: tool to detach/reattach running X programs
 Xpra gives you the functionality of GNU Screen for X applications.
 .
 It allows the user to view remote X applications on their local machine, and
 disconnect and reconnect from the remote machine without losing the state of
 the running applications.
 .
 Unlike VNC, these applications are "rootless".  They appear as individual
 windows inside your window manager rather than being contained within a single
 window.

#Package: xpra-dbg
#Section: debug
#Priority: extra
#Architecture: any
#Depends: xpra (= ${binary:Version}), ${misc:Depends}
#Description: xpra -- debugging symbols
# Xpra gives you the functionality of GNU Screen for X applications.
# .
# It allows the user to view remote X applications on their local machine, and
# disconnect and reconnect from the remote machine without losing the state of
# the running applications.
# .
# Unlike VNC, these applications are "rootless".  They appear as individual
# windows inside your window manager rather than being contained within a single
# window.
# .
# This package provides debugging symbols
