#!/usr/bin/make -f

#: see http://lists.debian.org/debian-devel-announce/2011/09/msg00001.html
#: Also it does hardening by default, see http://wiki.debian.org/Hardening
DPKG_EXPORT_BUILDFLAGS = 1
-include /usr/share/dpkg/default.mk

export LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed
export CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
%:
	dh $@ --with python2 --with systemd

BUILDOPTS= --with-Xdummy --without-Xdummy_wrapper --without-install_systemd_units --pkg-config-path=/usr/lib/xpra/pkgconfig --rpath=/usr/lib/xpra/

override_dh_auto_build:
	dh_auto_build -- $(BUILDOPTS)

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_shlibdeps:
	dh_shlibdeps -l /usr/lib/xpra

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/tmp -- $(BUILDOPTS)

## gracefully handle stripping if -dbg packages are (un-)commented in debian/control
override_dh_strip:
	[ -d "$(CURDIR)/debian/xpra-dbg" ] \
        && dh_strip -pxpra --dbg-package=xpra-dbg \
        || dh_strip -pxpra

override_dh_builddeb:
	dh_builddeb -- -Zxz

# Ubuntu messes up the cups backend permissions, fix it:
override_dh_fixperms:
	dh_fixperms
	chmod 700 debian/xpra/usr/lib/cups/backend/xpraforwarder
