* {padding: 0; margin: 0; vertical-align: top;}
html {height: 100%; width: 100%;}
body {
    font: 18px/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
    text-align: center;
    width: 100%;
}
a {
    color: #069; 
    text-decoration: none;
}
a:hover { 
    color: #28b; 
}
p {
    margin-top: 10px;
}
button {
    font-size: 18px;
    padding: 1px 7px;
}
input {
    font-size: 18px;
}
input[type=checkbox] {
    margin: 7px;
}
#page {
    display: block; 
    width: 1100px;
    height: 100vh !important; 
    overflow: hidden;
    margin: 0 auto;
    text-align: left;
}
#header_box {
    float: left;
    width: 1100px;
    display: block;
    padding: 30px 0 20px 60px;
}
#header {
    float: left;
    position: relative;
    height: 100%;
}
#select_box {
    float: left;
    position: relative;
    height: 100%;
    width: 1100px;
    font-size: 0.8em;
}
#help_text {
    padding-top: 10px;
    width: 100%;
    font-size: 0.7em;
    color: #777;
}
#header h2 {
    vertical-align: left;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
#header h3 {
    vertical-align: left;
    font-size: 1.0em;
    font-weight: normal;
    text-decoration: none;
    color: #333;
}
#metric_list {
    float: left;
    height: 75vh !important;
    width: 1020px;
    margin-left: 20px;
    padding: 20px 0 20px 20px;
    border: 1px solid #ddd;
    overflow: auto;
}
.metric_box {
    width: 1000px;
    padding: 0;
}

.container {
    float: left;
    box-sizing: border-box;
    width: 480px;
    height: 320px;
    padding: 20px 15px 15px 15px;
    margin: 15px 20px 30px 0;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    text-align: center;
}
.empty-container {
    float: left;
    box-sizing: border-box;
    width: 480px;
    height: 320px;
    padding: 20px 15px 15px 15px;
    margin: 15px 20px 30px 0;
}
.placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}
.legend table {
    border-spacing: 5px;
}

