include COPYING NEWS README bell.wav
include xpra/monotonic_ctime.h
include xpra/monotonic_ctime.c
include xpra/buffers/memalign.h
include xpra/buffers/memalign.c
include xpra/buffers/buffers.h
include xpra/buffers/buffers.c
include xpra/buffers/xxhash.h
include xpra/buffers/xxhash.c
include xpra/buffers/xxh3.h
include xpra/x11/gtk3/gdk_x11_macros.c
include xpra/x11/gtk3/gdk_x11_macros.h
include xpra/codecs/cuda_common/*.cu
include xpra/codecs/cuda_common/README.md
include xpra/codecs/v4l2/video.h
include xpra/codecs/dec_avcodec2/register_compat.*
include xpra/platform/win32/setappid.cpp
include xpra/platform/win32/setappid.h
recursive-include html5 *
recursive-include content-categories *
recursive-include content-type *
recursive-include http-headers *
recursive-include man *
recursive-include patches *
recursive-include etc *
recursive-include xdg *
recursive-include cups *
recursive-include dbus *
recursive-include udev *
recursive-include icons *
recursive-include scripts *
recursive-include selinux *
recursive-include service *
recursive-include tmpfiles.d *
recursive-include sysusers.d *
recursive-include packaging/debian *
recursive-include packaging/rpm *
global-include *.py *.txt *.pyx *.pxd
global-exclude *~ \#* *.orig *.bak *.rej *.pxi
prune build
