include COPYING NEWS README* *.1
include do-* run-* parti/try-parti
include wimpiggy/lowlevel/constants.pxi
include install.sh
include xpra/x264/*.h
include xpra/vpx/*.h
include xpra_launcher.desktop
include xpra.png
recursive-include working-notes *
global-include *.py *.txt
global-exclude *~ #*
prune build
prune dist
prune install
