[Desktop Entry]
Name=Xpra Launcher
Comment=Connect to a Xpra session
TryExec=xpra_launcher
Exec=xpra_launcher
Icon=xpra_launcher
Terminal=false
Type=Application
StartupNotify=false
Categories=Network;TrayIcon
MimeType=text/x-xpraconfig;
