[Desktop Entry]
Name=Xpra
Comment=Pre-start an Xpra session
Exec=xpra shadow --splash=no
Icon=xpra
NoDisplay=false
Type=Application
StartupNotify=false
Categories=Network;RemoteAccess;
Keywords=X11;screen;forwarding;client;server
