<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Xpra</string>
	<key>CFBundleDisplayName</key>
	<string>Xpra</string>
	<key>CFBundleName</key>
	<string>Xpra_NoDock</string>
	<key>CFBundleGetInfoString</key>
	<string>%VERSION%-r%REVISION% (c) 2012-2017 http://xpra.org/</string>
	<key>CFBundleIconFile</key>
	<string>xpra.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.xpra.XpraNoDock</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>%VERSION%</string>
	<key>CFBundleVersion</key>
	<string>%REVISION%.%BUILDNO%</string>
	<key>CFBundleSignature</key>
	<string>xpra</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2012-2017 Antoine Martin antoine@devloop.org.uk, GNU General Public License.</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
</dict>
</plist>
