#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND=-Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

# Disable ffmpeg-based codecs on i386, see https://github.com/Xpra-org/xpra/issues/3198
ifneq (,$(filter i386,$(DEB_HOST_ARCH)))
EXTRA_BUILDOPTS := --without-csc_swscale --without-enc_ffmpeg --without-dec_avcodec2
endif
# Disable CUDA on Ubuntu Hirsute and Debian Sid
# (nvcc fails to compile with the new glibc headers: #3293)
dvariant := $(shell lsb_release -is)
ifeq ($(dvariant),hirsute)
EXTRA_BUILDOPTS := --without-nvenc
endif
ifeq ($(dvariant),sid)
EXTRA_BUILDOPTS := --without-nvenc
endif


NPROC := $(shell nproc 2> /dev/null || echo 1)

BUILDOPTS := --without-Xdummy --without-Xdummy_wrapper --pkg-config-path=/usr/lib/xpra/pkgconfig --rpath=/usr/lib/xpra/ $(EXTRA_BUILDOPTS)

%:
	dh $@ --with python3 --with systemd --without=build-stamp

override_dh_auto_clean:
	python3 setup.py clean

override_dh_auto_build:
	python3 setup.py build_ext $(BUILDOPTS) -j $(NPROC)
	python3 setup.py build $(BUILDOPTS)

override_dh_auto_install:
	python3 setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb $(BUILDOPTS)

override_dh_installchangelogs:
	dh_installchangelogs docs/CHANGELOG.md

override_dh_shlibdeps:
	dh_shlibdeps -l /usr/lib/xpra -Xfbc_capture -Xnvjpeg

override_dh_systemd_enable:
	dh_systemd_enable --no-enable xpra.service
	dh_systemd_enable xpra.socket

#override_dh_systemd_start:
#	dh_systemd_start xpra.socket

override_dh_installman:
	mkdir -p debian/xpra/usr/share/man/man1
	cp fs/share/man/man1/*.1 debian/xpra/usr/share/man/man1/
	gzip -9 debian/xpra/usr/share/man/man1/*.1

override_dh_builddeb:
	dh_builddeb -- -Zxz

# Ubuntu messes up the cups backend permissions, fix it:
override_dh_fixperms:
	dh_fixperms --exclude xpraforwarder
