name: xpra

on: [push, pull_request]

jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: "apt-get install"
      run: |
        # see docs/Build/Debian.md
        sudo apt-get update
        sudo apt-get -y install libx11-dev libxtst-dev libxcomposite-dev libxdamage-dev libxres-dev \
                libxkbfile-dev python-all-dev pandoc libsystemd-dev \
                libgtk-3-dev python3-dev python3-cairo-dev python-gi-dev cython3 \
                xauth x11-xkb-utils \
                xvfb python3-cairo python3-gi-cairo \
                libturbojpeg-dev libwebp-dev python3-pil \
                libx264-dev libvpx-dev \
                libavformat-dev libavcodec-dev libswscale-dev \
                python3-dbus python3-cryptography \
                python3-netifaces \
                openssh-client sshpass python3-paramiko \
                python3-setproctitle python3-xdg python3-pyinotify \
                libpam-dev xserver-xorg-dev xutils-dev xserver-xorg-video-dummy xvfb keyboard-configuration \
                python3-kerberos python3-gssapi \
                python3-gst-1.0 \
                gstreamer1.0-pulseaudio gstreamer1.0-alsa \
                gstreamer1.0-plugins-base gstreamer1.0-plugins-good \
                gstreamer1.0-plugins-ugly gstreamer1.0-plugins-bad gstreamer1.0-vaapi \
                liblz4-dev python3-lz4 \
                libbrotli-dev \
                python3-coverage \
                x11-xserver-utils dbus-x11

        # tests/unittests/run wants "coverage", but debian installs as /usr/bin/python3-coverage
        sudo ln -s /usr/bin/python3-coverage /usr/local/bin/coverage

    - name: "Build/Install/Test"
      run: >
        python3 setup.py unittests
        --skip-fail unit.x11.fakexinerama_test
        --skip-fail unit.server.proxy_server_test
        --skip-fail unit.scripts.parsing_test
        --skip-fail unit.notifications.common_test
        --skip-slow unit.client.x11_client_test
        --skip-slow unit.server.shadow_server_test
        --skip-slow unit.server.mixins.start_option_test
        --skip-slow unit.server.mixins.shadow_option_test
